<%= content_for(:page_class) { 'lg:w-[38rem]' } %>
<div class="sheet flex flex-col gap-3">
  <div>
    <div class="mx-auto text-center">
      <h2 class="nf font-bold text-3xl mb-2">
        <%= @team.name %>
      </h2>
    </div>
  </div>
  <div class="flex flex-col gap-8">
    <div>
      <h3 class="text-label mb-1">
        <%= Developer.model_name.human %>
      </h3>
      <div class="flex flex-col divide-y">
        <% if @team.developers.any? %>
          <%= render partial: 'developer', collection: @team.developers %>
        <% else %>
          <p class="text-gray-500">
            <%=t '.no_any_developers' %>
          </p>
        <% end %>
      </div>
    </div>
    <div>
      <h3 class="text-label mb-1">
        <%=t '.add_developer' %>
      </h3>
      <%= link_to t('.how_to_invitation'), new_team_developer_url(team_id: @team.id), class: 'link' %>
    </div>
  </div>
</div>
<%= link_to(dashboard_path, class: 'mt-3 link') { icon_with_text :reply, t('helpers.nav.back') } %>
