<%= content_tag 'turbo-frame', nil, id: 'new-product-backlog-item' do %>
  <div class="w-[40rem] bg-gray-100 px-5 py-3 rounded-lg">
    <h3 class="text-sm text-label mb-2 flex items-center gap-x-1">
      <%= icon(:plus, size: 18) %>新しいアイテム
    <h3>
    <%= form_with model: @item, url: product_backlog_items_path(product_id: @item.product_id), data: { turbo_frame: '_top' }, class: 'flex flex-col gap-2' do |f| %>
      <%= f.hidden_field :product_id %>
      <%= f.text_area :description, class: 'nf block w-full' %>
      <div class="flex-none">
        <%= f.button '追加する', class: 'btn btn-primary' %>
      </div>
    <% end -%>
  </div>
<% end -%>
