<%= content_tag :div, class: 'flex flex-row items-center px-1 py-2 gap-2 bg-white' do %>
  <span class="flex-none">
    <%= icon :grip, class: 'cursor-move js-sortable-handle' %>
  </span>
  <%= content_tag :div, component_attrs(:rv_container, { class: 'flex-grow flex flex-row items-center gap-2' }) do %>
    <div class="flex-grow flex flex-col">
      <div class="flex flex-row justify-between">
        <span class="text-sm text-label font-bold">
          #<%= item.number %>
        </span>
      </div>
      <p class="nf">
        <%= item.description %>
      </p>
      <%= content_tag :div, component_attrs(:rv_target) do %>
        <%= turbo_frame_tag "item_#{item.id}_acceptance_criteria", src: requirement_acceptance_criteria_path(requirement_id: item.id), data: { loading: :lazy } %>
          <%= spinner %>
        <% end -%>
      <% end -%>
    </div>
    <div>
      <%= content_tag :button, (0..6).to_a.sample, component_attrs(:rv_trigger, { class: 'btn-icon block text-center border-2 border-solid border-rose-300 rounded w-8' }) %>
    </div>
  <% end -%>
  <%= content_tag :div, component_attrs(:dd_container) do %>
    <%= content_tag :button, item.size, component_attrs(:dd_trigger, { class: 'btn-icon block text-center bg-sky-600 rounded-full w-8 text-lg text-white font-bold' }) %>
    <%= content_tag :div, component_attrs(:dd_target, :dd_target_right) do %>
      <div class="flex flex-col bg-white rounded-lg p-2 mt-1 w-[8rem] border border-1 border-gray-200 drop-shadow">
        <p class="text-label mx-auto text-xs mb-1">
          アイテムのサイズ
        </p>
        <%= form_with method: :patch do |f| %>
          <%= f.select :size, %w(1 2 3 5 8 13 21 ?).map { |v| [v, v] }, {}, class: 'w-full', onchange: 'this.form.submit()' %>
        <% end -%>
      </div>
    <% end -%>
  <% end -%>
  <span class="flex-none">
    <%= icon :thumbup, class: 'text-lime-500' %>
  </span>
  <%= link_to '#' do icon(:menu_dot) end %>
<% end -%>
