<%= content_for(:page_class) { 'lg:w-[46rem]' } %>
<div class="sheet flex flex-col">
  <div class="mx-auto text-center">
    <h2 class="nf font-bold text-3xl mb-2">
      <%= @product.name %>
    </h2>
    <%= simple_format(@product.vision.to_s, class: 'nf text-gray-500 leading-5') %>
  </div>
  <%= link_to t('helpers.nav.change'), '#', class: 'link text-sm text-right' %>
  <div class="mt-10">
    <h3 class="text-label mb-1">
      <%= ProductGoal.model_name.human %>
    </h3>
    <%= turbo_frame_tag :product_goals, src: product_goals_path(product_id: @product) %>
  </div>
</div>
<%= link_to(dashboard_path, class: 'mt-3 link') { icon_with_text :reply, t('helpers.nav.back') } %>
