<!DOCTYPE html>
<html>
  <head>
    <title>Microwave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= web_font_link_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg">
    <div class="mt-8">
      <%= yield %>
    </div>
    <div class="mt-5">
      <%= content_tag(:div, rv_container_options) do %>
        <%= content_tag(:button, 'toggle', rv_trigger_options(class: 'btn')) %>

        <%= content_tag(:div, dd_container_options) do %>
          <%= content_tag(:button, 'dropdown', dd_trigger_options(class: 'btn')) %>
          <%= content_tag(:div, dd_target_options(transition_options)) do %>
            <div class="bg-white rounded p-2 w-44 mt-1 flex flex-col">
              <a href="#" data-action="dropdown#toggle">Account settings</a>
              <a href="#" data-action="dropdown#toggle">Support</a>
              <a href="#" data-action="dropdown#toggle">License</a>
            </div>
          <% end -%>
        <% end -%>

        <%= content_tag(:div, rv_target_options) do %>
          <p>Hey 👋</p>
          <p>You can have multiple items</p>
        <% end -%>
      <% end -%>
    </div>
  </body>
</html>
