<!DOCTYPE html>
<html>
  <head>
    <title>microwave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= web_font_link_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg">
    <%= render partial: 'global_nav' %>
    <div class="mt-1">
      <div class="flex flex-col mb-2">
        <div class="mx-auto w-full <%= content_for?(:page_class) ? yield(:page_class) : 'lg:w-[64rem]' %>">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
